
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/page/images/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Giới thiệu về ShoeSpotlight</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html"></a>
                            <span class="brd-separetor"></span>
                            <span class="breadcrumb-item active"></span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Our Store Area -->
<section class="htc__store__area ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section__title section__title--2 text-center">
                    <h2 class="title__line">Chào mừng bạn đến với cửa hàng ShoeSpotlight</h2>
                    <p>
                        Chào mừng bạn đến với trang web www.ShoeSpotlight.vn - điểm đến lý tưởng cho những tín đồ giày dép và phong cách. Với một bộ sưu tập đa dạng các loại giày từ thể thao đến thời trang, www.ShoeSpotlight.vn cam kết mang đến cho bạn sự lựa chọn tuyệt vời nhất để phản ánh phong cách cá nhân của bạn.

                        Với chất lượng và uy tín hàng đầu, www.ShoeSpotlight.vn không chỉ là nơi để mua sắm mà còn là nguồn cảm hứng cho những ai yêu thích thời trang. Chúng tôi tự hào cung cấp các thương hiệu uy tín và phong cách mới nhất, từ Adidas, Nike đến Gucci và Balenciaga, đảm bảo bạn luôn nổi bật trong mọi dịp.

                        Hãy truy cập www.ShoeSpotlight.vn để khám phá thế giới giày dép đa dạng và phong cách, và biến bước đi hàng ngày của bạn thành một tuyên bố cá nhân đầy phong cách.
                    </p>
                </div>
                <div class="store__btn">
                    <a asp-controller="contact" asp-action="index">contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Store Area -->
<!-- Start Choose Us Area -->
<section class="htc__choose__us__ares bg__white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="video__wrap bg--3" data--black__overlay="5" style="background: rgba(0, 0, 0, 0) url(/page/images/new-product/banner777.jpg) no-repeat scroll center center / cover ;">
                    <div class="video__inner">
                        <a class="video__trigger video-popup" href="https://www.youtube.com/watch?v=GdlSWFyYA8s">
                            <i class="zmdi zmdi-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="htc__choose__wrap bg__cat--4">
                    <h2 class="choose__title">Why Choose Us?</h2>
                    <div class="choose__container">
                        <div class="single__chooose">
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-heart"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Free Gift Box</h4>
                                    <p>Lorem ipsum dolor sit amet consect adipisic elit sed do. </p>
                                </div>
                            </div>
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-truck"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Free Delivery</h4>
                                    <p>Lorem ipsum dolor sit amet consect adipisic elit sed do. </p>
                                </div>
                            </div>
                        </div>
                        <div class="single__chooose">
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-reload"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Money Back</h4>
                                    <p>Lorem ipsum dolor sit amet consect adipisic elit sed do. </p>
                                </div>
                            </div>
                            <div class="choose__us">
                                <div class="choose__icon">
                                    <span class="ti-time"></span>
                                </div>
                                <div class="choose__details">
                                    <h4>Support 24/7</h4>
                                    <p>Lorem ipsum dolor sit amet consect adipisic elit sed do. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose Us Area -->

<!-- Start Testimonial Area -->

<!-- End Testimonial Area -->
<!-- Start brand Area -->
<div class="htc__brand__area bg__white ptb--120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="brand__list">
                    <li>
                        <a href="#">
                            <img src="/page/images/brand/1.png" alt="brand images">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/page/images/brand/2.png" alt="brand images">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/page/images/brand/3.png" alt="brand images">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/page/images/brand/4.png" alt="brand images">
                        </a>
                    </li>
                    <li class="hidden-sm">
                        <a href="#">
                            <img src="/page/images/brand/5.png" alt="brand images">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

