
@{
    ViewBag.Title = "title";
    Layout = "";
}

<div class="row">
    <div class="col-sm-12">
        <div class="wrap" style="text-align: center">
            <div class="main" >
                <div class="banner">
                    <img src="~/error404/images/banner.png" alt="" />
                </div>
                <div class="text">
                    <h1>Trang Web không tồn tại </h1>
                    <p>Làm ơn quay lại trang chủ!!!</p>
                </div>
            </div>
            <div class="footer">
                <p>&copy;Hà Nội, năm  2020</p>
            </div>
        </div> 
    </div>

</div>
