
@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1 style="font-family: font-family: Helvetica">Cảm ơn quý khách đã mua hàng</h1>
    </div>
    <div class="col-md-4">
    </div>
    <!-- /.col -->
</div>