

@{
    ViewBag.Title = "title";
    Layout = "_FrontEndLayout";
}


<section class="breadcrumb">
	<div class="container p-0">
		<div class="col-md-12">
			<ul>
				<li>
					<a asp-action="Home" asp-controller="Home">
						Trang chủ
					</a>
				</li>
				<li>
					<a asp-action="Home" asp-controller="Home">
						Giới Thiệu
					</a>
				</li>
				<li>
					<b>SHOESPOTLIGHT</b>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="about_page">

			<div class="container p-0">
				<div class="row">
                    <div class="col-md-12">
                        <h2>Chào mừng bạn đến với cửa hàng ShoeSpotlight</h2>
                        <p>
                            Chào mừng bạn đến với trang web www.ShoeSpotlight.vn - điểm đến lý tưởng cho những tín đồ giày dép và phong cách. Với một bộ sưu tập đa dạng các loại giày từ thể thao đến thời trang, www.ShoeSpotlight.vn cam kết mang đến cho bạn sự lựa chọn tuyệt vời nhất để phản ánh phong cách cá nhân của bạn.

                            Với chất lượng và uy tín hàng đầu, www.ShoeSpotlight.vn không chỉ là nơi để mua sắm mà còn là nguồn cảm hứng cho những ai yêu thích thời trang. Chúng tôi tự hào cung cấp các thương hiệu uy tín và phong cách mới nhất, từ Adidas, Nike đến Gucci và Balenciaga, đảm bảo bạn luôn nổi bật trong mọi dịp.

                            Hãy truy cập www.ShoeSpotlight.vn để khám phá thế giới giày dép đa dạng và phong cách, và biến bước đi hàng ngày của bạn thành một tuyên bố cá nhân đầy phong cách.
                        </p>
                    </div>
				</div>
				<div class="text_about_page">
					<div class="row align-items-center">
						<div class="col-md-6">
							@*<iframe width="560" height="315" src="https://www.youtube.com/embed/vWB-8rrig6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                            <img style="height:200px" src="~/Frontend/images/about2.jpg" alt="">
						</div>
						<div class="col-md-6">
                            <h2>Mục tiêu</h2>
                            <p>
                                Để mang đến cho quý khách một đôi giày chất lượng cao thì chúng tôi đã phải rất nổ lực để thực hiện các chiến lược cũng như các quá trình rèn luyện.
                                Mục tiêu cũng là để mang đến cho quý khách một cái nhìn khác về thời trang. Cũng như là để quan tâm đến đời sống quý khách một cách chặt chẽ.
                            </p>
						</div>
					</div>
					<div class="row align-items-center">
                        <div class="col-md-8">
                            Trang web này được thực hiện vào ngày 18 tháng 3 năm 2024. Bao gồm đội ngũ sản xuất cũng như là nhân viên đã cố gắng không ngừng để mang lại một trải nghiệm tốt nhất cho tất cả các bạn.
                            Với mong muốn được cung cấp các sản phẩm tốt nhất cho khách hàng vì thế chúng tôi luôn nổ lực hết mình để trở thành một thương hiệu lớn để có thể mang đến cho mọi người một xu hướng thời trang đỉnh cao.
                        </div>
						<div class="col-md-4">
							<img style="height:300px" src="~/Frontend/images/about3.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>